/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 18.23.20
    Author     : Riccardo Locci
*/

body{
    background-color: rgba(255, 185, 0, 0.3);
    color: #00004d;
    text-align: justify;
    font-size: 90%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1{
    text-align: center;
    font-size: 130%;
}

h2{
    text-align: center;
    font-size: 120%;
}

h3{
    text-align: center;
    font-size: 110%;
}

.summary{
    display: block;
    text-align: left;
    list-style-type: none;
    margin-left: 10px;
    padding-left: 10px;
}

p{
    border-style: dashed;
    border-color: darkgreen;
    border-width: 1px;
    background-color: rgba(0, 220, 120, 0.1);
    color: darkgreen;
    padding: 1%;
}

table{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-width: 5px;
    width: 35%;
    border-collapse: collapse;
}

tr, th, td{
    border: dashed;
    border-width: 1px;
    border-color: black;
    margin: 0;
    width: 20%;
    padding: 2%;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-weight: 500;
}

.columns, .columns th{
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(0, 100, 70, 1);
    color: rgba(255, 255, 255, 1);
}

.dispari{
    background-color: rgba(0, 220, 120, 0.7);
    color: rgba(255, 255, 255, 1);
}

.pari{
    background-color: rgba(0, 200, 150, 0.1);
    color: rgba(0, 190, 100, 1);
}

a:link{
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    text-decoration: none;
    color: darkgreen;
}

a:visited{
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
    font-style: italic;
    color: darkblue;
}

a:hover, a:active, a:focus{
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li{
    margin-left: 20%;
    margin-right: -140px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    background-color: rgba(255, 185, 0, 0.5);
}

li:hover{
    padding: 5px;
    padding-left: 5px;
    margin-right: -180px;
    border-top: 1px solid black;
    font-weight: bold;
}

li:first-child {
    border-top: 1px solid black;
}

label{
    background-color: rgba(255, 185, 0, 0.2);
    color: rgba(200, 150, 0, 1);
    margin-left: 40%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}

input {
    display: inline-block;
    margin-right: 38%;
    margin-bottom: 1%;
    width: 15%;
    float: right;
}

textarea{
    display: inline-block;
    margin-right: 38%;
    margin-bottom: 1%;
    width: 14.8%;
    float: right;
}

input:focus, textarea:focus{
    border: solid;
    border-width: 3px;
    border-color: rgba(0, 120, 20, 0.8);
    background-color: rgba(0, 220, 120, 0.3);
    color: rgba(0, 100, 0, 1);
    font-weight: bold;
    text-align: left;
}

button{
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 0%;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%; 
    border-style: groove;
    border-color: darkgray;
    color: black;
    font-weight: bold;
    font-size: 90%;
}

button:hover{
    border-width: 3px;
    border-style: ridge;
    border-color: darkgreen;
    background-color: rgba(0, 120, 20, 0.8);
    color: rgba(255, 255, 255, 1);
}

@media only screen  and (min-width: 1024px){
    .summary{
        float: left;
    }
    
    p{
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 50px;
    }
}

@media only screen  and (min-width: 480px) and (max-width: 1024px){
    .summary{
        float: left;
    }
    
    p{
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 50px;
    }
}

@media only screen  and (max-width: 480px){
    ul{
        margin: 0;
    }
    
    li{
        text-align: center;
        margin-left: 5%;
        margin-right: 10%;
    }
    
    li:hover{
        margin-right: 20px;
        margin-left: 0px;
    }
}